<h2 mat-dialog-title>Edit product</h2>

<mat-dialog-content>
  <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" />
    <ol>
      <li>
        <mat-form-field>
          <mat-label>Product Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Enter product name"
          />
          <mat-error *ngIf="editProductForm.get('name')?.invalid">
            Please provide a product name.
          </mat-error>
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input
            matInput
            formControlName="preis"
            placeholder="Enter product price"
            type="number"
          />
          <mat-error *ngIf="editProductForm.get('preis')?.invalid">
            Please provide a price.
          </mat-error>
        </mat-form-field>
      </li>
    </ol>

    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
      <ng-container *ngIf="isLoading; else updateButton">
        <mat-spinner [diameter]="30"></mat-spinner>
      </ng-container>
      <ng-template #updateButton>
        <button
          mat-raised-button
          [disabled]="editProductForm.invalid"
          type="submit"
          color="primary"
        >
          Update Product
        </button>
      </ng-template>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
