.container {
  width: 100%;
  margin: 0 auto;
}
.mat-cell,
.mat-header-cell {
  min-width: 200px;
}
.mat-column-select {
  overflow: initial;
}
.button-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 0.5rem;
}
