<div class="container">
  <table mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <section>
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </section>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <ng-container matColumnDef="artikelnummer">
      <th mat-header-cell *matHeaderCellDef>Artikelnummer</th>
      <td mat-cell *matCellDef="let product">{{ product.artikelnummer }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="preis">
      <th mat-header-cell *matHeaderCellDef>Preis</th>
      <td mat-cell *matCellDef="let product">{{ product.preis }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let product">
        <button
          mat-icon-button
          color="primary"
          (click)="openEditProductDialog(product)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
  <section class="button-section">
    <mat-spinner
      *ngIf="isLoading; else deleteButton"
      [diameter]="50"
    ></mat-spinner>
    <ng-template #deleteButton>
      <button mat-raised-button color="warn" (click)="deleteSelected()">
        Delete Selected
      </button>
    </ng-template>
    <button mat-raised-button color="primary" (click)="openAddProductDialog()">
      Add Product
    </button>
  </section>
</div>
